<!--Dzina Butko ID 301215947  Assignment Date  08/02/2021 -->

<!-- Section D: Projects Dzina Butko --> 
<section id="services" class="text-center py-5">
    <div class="container">
<div class="card-group border-0" style="max-width: 1100px">
  <div class="card">
    <img src="/assets/images/laptop.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Web Testing</h5>
      <p class="card-text"> Identify key areas of risk, the proper tools, and the best tools, and the best test plan to make sure your software meets stakeholders' expectations.</p>
     
    </div>
  </div>
  <div class="card">
    <iframe src="https://giphy.com/embed/Y2eYsA6iV0jX1z8Tel" width="400" height="450" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/delltech-dell-delltechnologies-technologies-Y2eYsA6iV0jX1z8Tel"></a></p>
    <div class="card-body">
      <h5 class="card-title">Test Automation</h5>
    <p class="card-text"> Implement the right automation solutions to improve the quality, effectiveness and maintainbility of your tests for optimal impact.</p>
    </div>
  </div>
  
  <div class="card">
    <img src="/assets/images/phone.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Mobile Testing</h5>
      <p class="card-text">I help create quaility mobile apps, ensuring they execute correctly and perform well accross different platforms and devices.</p>
      
    </div>
  </div>

  </div>
</section>