<!--Dzina Butko ID 301215947  Assignment Date  08/02/2021 -->

<!-- Section B: Page About Dina Butko-->

<section id="aboutme" class="text-center py-3">
    <div class="container"> 
  <div class="card mb-3 border-0" style="max-width: 2000px;">
    <div class="row g-0 ">
      <div class="col-md-4">
        <img src="assets/images/Dina.png" class="img-fluid rounded-start" alt="Avatar">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">About Me</h5>
          <p class="card-text">I’m Dina Butko, a Quality Assurance Engineer. I was born and grew up in Belarus. Currently I’m living in Canada, Niagara Falls. I’ve spent the past 2+ years working across different areas of Software Testing. I worked with web-applications and mobile applications as a Manual Quality Assurance Engineer.These days my time is spent coding to pursue a career as Software Engineer in Test. Out of the office you’ll find me reading books, spending time with family and friends.
          </p>
          <h5 class="card-title">My Resume</h5>
          <p>You can find my resume <a href="/assets/CV Software Engineer in Test Dina Butko.pdf" target="_blank">here...</a></p>
        </div>
      </div>
    </div>
  </section>