<!--Dzina Butko ID 301215947  Assignment Date  08/02/2021 -->

<!-- Section C: Projects Dzina Butko -->
<section id="projects" class="text-center py-4">
    <div class="container">

<div class="card-group border-1 mt-3">
    <div class="card mt-3" >
      <img src="/assets/images/Remedly.png" class="card-img-top"  width="100" heighr="100">
      <div class="card-body">
        <h5 class="card-title">Remedly</h5>
        <p class="card-text">I took part in the project Remedly as a Quality Assurance Engineer. Remedly combines all of the software for medical clinics, practices or medspa needs into one integrated solution. </p>
      
      </div>
    </div>
    <div class="card mt-3">
      <img src="assets/images/TaskFlow.png" class="card-img-top" width="100" heighr="100">
      <div class="card-body">
        <h5 class="card-title">Task Flow</h5>
        <p class="card-text">Also I tested the mobile application Task Flow. This application  is designed to give the tools user need to actually do the tasks. This application has a synchronization for iPhone, iPad and Mac..</p>
      </div>
    </div>
    <div class="card mt-3">
      <img src="/assets/images/Quick Brain.png" class="card-img-top" width="100" heighr="100">
      <div class="card-body">
        <h5 class="card-title">Quick Brain</h5>
        <p class="card-text">I tested mobile application Quick Brain. It’s an educational math learning application that will teach to count in head quickly without mistakes. User will be able to develop abstract and logical thinking.</p>
      </div>
    </div>
  </div>

  </div>
</section>