
<!--Dzina Butko ID 301215947  Assignment Date  08/02/2021 -->

<!-- Section A: Home Page -->
<section id="home" class="text-left py-5">
    <div class="container">
  <div class="card mb-3 border-0" id="card-1" style="max-width: 1000px;">
      <div class="row g-0 ">
        <div class="col-md-4">
          <img src="assets/images/Dinabutko.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><b>Hi. I'm Dina. A Quality Assurance Engineer.</b></h5>
            <p class="card-text">I’m also ISTQB Certified Quality Assurance Engineer with a keen eye for quality. If you want
                to know me bettter, click <a href="/about">here...</a>
            </p>
            <h5 class="card-title"> <b>My mission is…</b></h5>
            <p>“....To give customers the most good  quality possible.” - Dina Butko</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>