  <!--Dzina Butko ID 301215947  Assignment Date  08/02/2021 -->
  
  <!-- Script Session-->
  <script src="/scripts/app.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>

</body>
</html>