<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<div class="card-group">
    <div class="card">
      <img src="/assets/images/Remedly.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Remedly</h5>
        <p class="card-text">I took part in the project Remedly as a Quality Assurance Engineer. Remedly combines all of the software for medical clinics, practices or medspa needs into one integrated solution. </p>
      
      </div>
    </div>
    <div class="card">
      <img src="assets/images/TaskFlow.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Task Flow</h5>
        <p class="card-text">Also I tested the mobile application Task Flow. This application  is designed to give the tools user need to actually do the tasks. This application has a synchronization for iPhone, iPad and Mac..</p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/images/Quick Brain.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Quick Brain</h5>
        <p class="card-text">I tested mobile application Quick Brain. It’s an educational math learning application that will teach to count in head quickly without mistakes. User will be able to develop abstract and logical thinking.</p>
      </div>
    </div>
  </div>
























  
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>