<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

  <!-- Section E: Projects Dzina Butko --> 
  <section id="section-e" class="text-center py-4">
    <div class="container">
<div class="card-group border-0" style="max-width: 1450px" class="text-center py-3">
  <div class="card">
    <img src="/assets/images/phone.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Web Testing</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
     
    </div>
  </div>
  <div class="card">
    <h5 class="card-title">I'm specialized in...</h5>
    <iframe src="https://giphy.com/embed/azi3GTPtxWKCQ" width="300" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/love-heart-valentines-day-azi3GTPtxWKCQ"></a></p>
    <div class="card-body">
    </div>
  </div>
  <div class="card">
    <img src="/assets/images/laptop.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mobile Testing</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      
    </div>
  </div>

  </div>
</section>










<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>